build
.DS_Store
.lock-wscript
test/images/*.png
examples/*.png
examples/*.jpg
examples/pathfindTester
testing
export
.pomo
node_modules
import/*
a.out
*.png

#emacs crap
src/*~
src/#*
src/*.gch

#C tests
src/a.out
src/*.png
src/explee
src/debug
src/test/*-testSuite
src/test/*-testsuite
src/test/*.o
src/test/*.a

# Vim cruft
*.swp
*.un~
